@charset "utf-8";
header {
    position: fixed;
    width: 100%;
}
main {
    padding-top:100px;
}

footer {
    position: fixed;
    width: 100%;
    left: 0px;
    bottom: 0px;
}
#kerdojel {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 10;
}

nav {
    position: absolute;
    left: 10px;
}

form {
    position: relative;
}

#zar {
    position: absolute;
    top: 12px;
    right: 10px;
}
#szamol {
    position: relative;
    /*right: 20px; */
    left: 220px;
    top: 17px;
}